<p id="notice"><%= notice %></p>

<p>
  <strong>Firatname:</strong>
  <%= @register.Firatname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @register.lastName %>
</p>

<p>
  <strong>Fathername:</strong>
  <%= @register.Fathername %>
</p>

<p>
  <strong>Mothername:</strong>
  <%= @register.mothername %>
</p>

<p>
  <strong>Email:</strong>
  <%= @register.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @register.phone %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
